@color: rgba(0, 0, 0, 0.87);
@out-color: rgba(0, 0, 0, 0.3);
@day-color: rgba(0, 0, 0, 0.5);

.app-click-calendar {
    padding: 0 5px;
    color: @color;

    .header {
        position: relative;
        padding: 5px 0;
        text-align: center;

        h1 {
            color: color;
            font-size: 30px;
            margin: 0;
        }

        button {
            position: absolute;
            top: 0;

            &.left {
                left: 0;
            }

            &.right {
                right: 0;
            }
        }
    }

    .month {
        padding-bottom: 5px;

        .day-name {
            display: inline-block;
            padding: 10px 5px;
            margin-right: 2px;
            font-size: 10px;
            text-align: center;
            vertical-align: top;
            text-transform: uppercase;
            color: @day-color;
            letter-spacing: .7px;

            &:last-child {
                margin-right: 0px;
            }
        }

        .week {
            margin-bottom: 2px;

            .day {
                display: inline-block;
                padding: 15px 5px;
                margin-right: 2px;
                text-align: center;
                vertical-align: top;
                position: relative;

                &:last-child {
                    margin-right: 0px;
                }

                &.out {
                    color: @out-color;
                }

                .day-name {
                    display: none;
                }

                .day-number {
                    font-size: 25px;
                    letter-spacing: 1.5px;
                }

                &.clicked {
                    background-color: #ce93d8;
                    border-radius: 5px;
                }
            }
        }
    }
}
