@color: rgba(0, 0, 0, 0.87);
@out-color: rgba(0, 0, 0, 0.3);
@day-color: rgba(0, 0, 0, 0.5);
@clicks-bg: #ce93d8;
@clicks-color: rgba(170, 0, 170, 0.26);

.app-click-calendar {
    padding: 0 5px;
    color: @color;

    .header {
        position: relative;
        padding: 5px 0;
        text-align: center;

        h1 {
            color: @color;
            font-size: 30px;
            margin: 0;

            .clicks {
                font-size: 14px;
                color: @clicks-bg;
            }
        }

        button {
            position: absolute;
            top: 0;

            &.left {
                left: 0;
            }

            &.right {
                right: 0;
            }
        }
    }

    .month {
        padding-bottom: 5px;

        .day-name {
            display: inline-block;
            padding: 10px 5px;
            margin-right: 2px;
            font-size: 10px;
            text-align: center;
            vertical-align: top;
            text-transform: uppercase;
            color: @day-color;
            letter-spacing: .7px;

            &:last-child {
                margin-right: 0px;
            }
        }

        .week {
            .flex-container();
            .flex-direction(row);
            margin-bottom: 2px;

            .day {
                padding: 15px 5px;
                margin-right: 2px;
                text-align: center;
                vertical-align: top;
                position: relative;
                overflow: hidden;

                &:last-child {
                    margin-right: 0px;
                }

                &.out {
                    color: @out-color;
                }

                .day-number {
                    font-size: 25px;
                    letter-spacing: 1.5px;
                }

                &.clicked {
                    background-color: @clicks-bg;
                    border-radius: 5px;
                }

                .day-clicks {
                    position: absolute;
                    font-size: 50px;
                    line-height: 50px;
                    color: @clicks-color;
                    width: 200%;
                    height: 100%;
                    top: 0;
                    left: -50%;
                }
            }
        }
    }
}
