@import "utils.import.less";
@import "buttons.import.less";
@import "panels.import.less";
@import "pages.import.less";
@import "calendar.import.less";

.ion-autocomplete-container {
    display: none;
}

input[readonly].ion-autocomplete {
    background-color: transparent;
}

ng-include {
    display: block;
}

ion-content {
    background-color: rgba(217, 216, 232, 0.83);
}
