.body-border {
    height: 1px;
    width: 100%;
    background-color: #673ab7;
}

.bar-header {
    button .alert-count {
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 12px;
        border-radius: 15px;
        background-color: red;
        width: 15px;
        height: 15px;
        line-height: 15px;
    }
}

.main-page {
    .btn-group-name {
        padding: 5px;
        background-color: #eee;
    }

    ion-content {
        bottom: 40px;
    }

    ion-scroll {
        height: -webkit-calc(~"100% - 47px");
    }

    .button-bar {
        .button {
            border-top: 0;
            border-bottom: 0;
            min-height: 34px;
            line-height: 34px;
            font-size: 14px;
        }
        .btn-sort {
            border-left: 0;
        }
        .btn-all {
            border-right: 0;
        }
    }

    .tabs {
        height: 40px;
        padding-top: 1px;

        .tab-item.active {
            background-color: #e5e5e5;
        }
    }
}

.modal-new-button, .modal-edit-button {
    ion-content {
        bottom: 64px;
    }

    ion-footer-bar {
        height: 64px;
        .transition(ease-in-out, 250ms);
    }

    ion-footer-bar.hidden {
        .translateY(100%);
    }

     ion-footer-bar.shown {
        .translateY(0);
    }

    .btn-step {
        position: absolute;
        width: 100%;
        .translateX(100%);
        .transition(cubic-bezier(0.1, 0.7, 0.1, 1), 250ms);
    }

    .btn-step.active {
        .translateX(0);
    }

    .btn-step.prev {
        .translateX(-100%);
    }

    .btn-icon-step .app-icons-panel {
        margin-top: 10px;
    }

    .btn-type-step .btn-type-text {
        padding: 20px 0px;
        text-align: center;
        border: 1px solid #eee;
        border-radius: 10px;
    }

    .btn-profile-step {
        .item-clicks {
            padding: 6px 16px 5px 16px;
            border: 0;

            .input-label {
                padding: 7px 10px 7px 0px;
            }

            input {
                padding-left: 10px;
            }
        }

        .item-delete {
            margin-top: 50px;
            background-color: transparent;
            border-color: #c5c5c5;

            .button {
                width: 100%;
            }
        }
    }

    .item-checkbox, .item-input-inset {
        border: 0;
    }

    .item-input-inset {
        textarea {
            width: 100%;
            height: 100px;
            background-color: transparent;
            padding-top: 10px;
        }
    }
}

.alerts-page {
    .alert-list {
        .msg {
            font-size: 14px;
            white-space: nowrap;
            display: inline-block;
        }

        .icon {
            width: 45px;
        }

        .item-icon-left {
            padding-left: 64px;
        }
    }
}

.stats-page {
    .button-bar {
        .scale(0.7);
    }
}
