.main-page {
    ion-content.padding {
        padding: 5px;
    }
}

.modal-new-button, .modal-edit-button {
    ion-content {
        bottom: 64px;
    }

    ion-footer-bar {
        height: 64px;
    }

    .icon-step .app-button-dashboard {
        margin-top: 10px;
    }

    .type-step .type-desc {
        padding: 20px 0px;
        text-align: center;
        border: 1px solid #eee;
        border-radius: 10px;
    }
}
