<div class="padding">
    <div class="app-icons-panel">
        <div>
            <div class="app-button-icon" ng-repeat="btnTypeItem in btnTypes"
                ng-click="chooseType(btnTypeItem)">
                <input type="radio" name="type" ng-checked="btnType.type == btnTypeItem.type"
                    ng-click="selBtnTypeItem = btnTypeItem">
                <img src="{{btnTypeItem.icon}}" class="icon">
            </div>
        </div>
    </div>
    <div class="btn-type-text" ng-show="btnType">
        {{btnType.desc}}
    </div>
</div>
