<div class="modal modal-new-button" ng-controller="controller as ctrl">
    <ion-header-bar class="bar bar-header bar-secondary">
        <button ng-show="ctrl.hasBack" ng-click="ctrl.backBtn()"
            class="ng-hide button icon-left ion-chevron-left button-clear button-dark">
        </button>
        <h1 class="title">{{ctrl.step.name}}</h1>
        <button class="button button-clear button-positive" ng-click="ctrl.onClose()">
            Cancel
        </button>
    </ion-header-bar>
    <ion-content has-header="true" scroll="true">
        <ng-include class="btn-step btn-type-step"
            ng-class="{active: ctrl.checkActive(0), prev: ctrl.checkPrev(0)}"
            src="'client/views/buttons/btn_types.ng.html'">
        </ng-include>
        <ng-include class="btn-step btn-icon-step"
            ng-class="{active: ctrl.checkActive(1), prev: ctrl.checkPrev(1)}"
            src="'client/views/buttons/btn_icons.ng.html'">
        </ng-include>
        <ng-include class="btn-step btn-cfg-step"
            ng-class="{active: ctrl.checkActive(2), prev: ctrl.checkPrev(2)}"
            src="'client/views/buttons/btn_config.ng.html'">
        </ng-include>
    </ion-content>
    <ion-footer-bar class="padding" ng-class="{hidden: ctrl.isOnNext, shown: !ctrl.isOnNext}">
        <button class="button button-block button-positive" ng-click="ctrl.nextBtn()">
            {{ctrl.isLast ? 'Create Button' : 'Next'}}
        </button>
    </ion-footer-bar>
</div>
