<ion-view class="main-page">
    <ion-nav-buttons side="right">
        <button class="button button-icon" ng-click="showAddButton()">
            <i class="icon ion-plus"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon">
            <div ng-if="newAlerts.length" class="alert-count">{{newAlerts.length}}</div>
        </button>
    </ion-nav-buttons>
    <ion-content scroll="false">
        <div class="button-bar">
            <a class="button btn-sort" ng-class="{active: groupBy}"
                ng-click="groupBy = 'groupName'">
                Sort by Groups
            </a>
            <a class="button btn-all" ng-class="{active: !groupBy}"
                ng-click="groupBy = null">
                All together
            </a>
        </div>
        <ion-scroll>
            <div class="body-border"></div>
            <ng-buttons-panel ng-buttons="buttons" ng-group-by="groupBy"
                ng-edit-mode="mode != btnModes.CLICK_MODE">
            </ng-buttons-panel>
        </ion-scroll>
    </ion-content>
    <div class="tabs tabs-icon-only">
        <a class="tab-item" ng-class="{active: mode == btnModes.CLICK_MODE}"
            ng-click="setMode(btnModes.CLICK_MODE)">
            <img src="{{utils.getAppIcon('finger')}}" width="40px" height="40px">
        </a>
        <a class="tab-item" ng-class="{active: mode == btnModes.EDIT_MODE}"
            ng-click="setMode(btnModes.EDIT_MODE)">
            <img src="{{utils.getAppIcon('settings')}}" width="40px" height="40px">
        </a>
        <a class="tab-item" ng-class="{active: mode == btnModes.STATS_MODE}"
            ng-click="setMode(btnModes.STATS_MODE)">
            <img src="{{utils.getAppIcon('stats')}}" width="40px" height="40px">
        </a>
    </div>
</ion-view>
