<ion-view class="main-page">
    <ion-nav-buttons side="right">
        <button class="button button-icon" ng-click="showAddButton()">
            <i class="icon ion-plus"></i>
        </button>
    </ion-nav-buttons>
    <ion-content scroll="false">
        <div class="button-bar">
            <a class="button btn-sort" ng-class="{active: groupBy}"
                ng-click="groupBy = 'groupName'">
                Sort by Groups
            </a>
            <a class="button btn-all" ng-class="{active: !groupBy}"
                ng-click="groupBy = null">
                All together
            </a>
        </div>
        <ion-scroll>
            <div class="btn-group-divider"></div>
            <div ng-repeat="(key, value) in buttons | groupBy: groupBy">
                <div ng-if="groupBy" class="btn-group-name">
                    {{getGroupName(key)}}
                </div>
                <div class="padding app-button-dashboard">
                    <ng-track-button ng-repeat="button in value"
                        ng-edit-mode="mode != btnModes.CLICK_MODE" ng-model="button">
                    </ng-track-button>
                </div>
            </div>
        </ion-scroll>
    </ion-content>
    <div class="tabs tabs-icon-only">
        <a class="tab-item" ng-class="{active: mode == btnModes.CLICK_MODE}"
            ng-click="setMode(btnModes.CLICK_MODE)">
            <i class="icon ion-arrow-down-c"></i>
        </a>
        <a class="tab-item" ng-class="{active: mode == btnModes.EDIT_MODE}"
            ng-click="setMode(btnModes.EDIT_MODE)">
            <i class="icon ion-settings"></i>
        </a>
        <a class="tab-item" ng-class="{active: mode == btnModes.CHART_MODE}"
            ng-click="setMode(btnModes.CHART_MODE)">
            <i class="icon ion-arrow-graph-up-right"></i>
        </a>
    </div>
</ion-view>
